@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Space Grotesk', sans-serif;
}

:root {
  --background: #fafafa;
  --text-primary: #000000;
  --text-secondary:#0F298B;
  --accent: #0F298B;
  --box-color: #ffffff;
  --button: #2549D3;
  --footer: #0F298B;
  --box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

[data-theme="dark"] {
  --background: #000;
  --text-primary: #fafafa;
  --text-secondary:#0F298B;
  --accent: #0F298B;
  --box-color: #161616;
  --button: #2549D3;
  --footer: #161616;;
  --box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .9);
}


body {
  background: var(--background);
}

h1,  a {
  color: var(--text-primary);
  text-decoration: none;
}

ul {
  list-style-type: none;
}

button {
  padding: .7rem 1.4rem;
  font-size: 1rem;
  background: var(--button);
  color: #fff;
  border: none;
  border-radius: 10px;
  font-weight: 900;
  font-family: 'Space Grotesk', sans-serif;
  cursor: pointer;
}

button:hover {
  transform: scale(1.02);
}

@media screen and (max-width: 999px) {
    button {
      padding: .7rem 1rem;
    }
}
@media screen and (max-width: 500px) {
  button {
    padding: .5rem .8rem;
    font-size: .9rem;
  }
}